{% extends "layout.html" %}

{% set active_page = "saved" %}

{% block content %}
	
	{% if empty %}
		<p class="text-center">{{empty}}</p>
	{% else %}
		<div class="container-fluid">
			{% for dessert in saved %}
				<ul class="list-group">
					<li class="list-group-item dessert-saved">
						<img class="profilePic" src="../static/images/{{dessert.val().imageFile}}">
						<a href="{{dessert.val().recipeLink}}">{{dessert.val().name}}</a>
						<a href="/remove/{{dessert.key()}}" style="float: right;"><i class="far fa-trash-alt"></i></a>
					</li>
				</ul>
			{% endfor %}
		</div>
	{% endif %}


{% endblock %}
